 # Content based filtering recommendation system

#  Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing original dataset anime.csv

In [2]:
anime=pd.read_csv('anime.csv')

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

## Removing unnecessary column

In [4]:
data=anime.loc[:,["anime_id","name","genre","rating","type"]]

In [5]:
data.head(6)

,anime_id,name,genre,rating,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",9.37,Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",9.26,TV
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",9.25,TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",9.17,TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",9.16,TV
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",9.15,TV

## handing null values

In [6]:
data.isnull().sum()

anime_id      0
name          0
genre        62
rating      230
type         25
dtype: int64

In [7]:
data['genre'] = data['genre'].replace(np.nan, 'unknown')
data['type'] = data['type'].replace(np.nan, 'unknown')
data['rating'] = data['rating'].replace(np.nan, -1)

In [8]:
data.shape

(12294, 5)

In [9]:
data.isnull().sum()

anime_id    0
name        0
genre       0
rating      0
type        0
dtype: int64

In [11]:
data['genre']=data['genre'].replace(',',' ' )
data['genre']=data['genre'].str.lower()
data['type']=data['type'].str.lower()

In [12]:
data.head()

,anime_id,name,genre,rating,type
0,32281,Kimi no Na wa.,"drama, romance, school, supernatural",9.37,movie
1,5114,Fullmetal Alchemist: Brotherhood,"action, adventure, drama, fantasy, magic, mili...",9.26,tv
2,28977,Gintama째,"action, comedy, historical, parody, samurai, s...",9.25,tv
3,9253,Steins;Gate,"sci-fi, thriller",9.17,tv
4,9969,Gintama&#039;,"action, comedy, historical, parody, samurai, s...",9.16,tv

In [13]:
data.to_csv('data.csv', index=False)

In [14]:
data.drop(["rating"],axis=1,inplace=True)

In [47]:
data.head()

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"drama, romance, school, supernatural",movie
1,5114,Fullmetal Alchemist: Brotherhood,"action, adventure, drama, fantasy, magic, mili...",tv
2,28977,Gintama째,"action, comedy, historical, parody, samurai, s...",tv
3,9253,Steins;Gate,"sci-fi, thriller",tv
4,9969,Gintama&#039;,"action, comedy, historical, parody, samurai, s...",tv

In [49]:
df_2=data

## merging genre and type column

In [50]:
df_2['comb']=data['genre']+' '+data['type']

In [ ]:
df_2.head()

## final dataset (final_df.csv)

In [75]:
df_2.to_csv('final_df.csv',index=False)